body {
  font-family: Google Sans, arial, sans-serif;
}

h1 {
  margin-bottom: 2px;
  color: #202124;
  font-size: 22px;
  line-height: 26px;
}

p {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
}

.outline-wrapper {
  max-width: 680px;
  margin: 30px auto;
}

.outline {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.cover-block {
  padding-left: 0;
  padding-right: 0;
}

.headcity {
  text-align: end;
}

.weather-wrapper img {
  margin-right: 10px;
  height: 60px;
  width: 60px;
  vertical-align: middle;
}

.weather-wrapper strong {
  font-size: 60px;
  color: #202124;
  vertical-align: middle;
}

.weather-wrapper .units {
  position: relative;
  top: -15px;
  font-size: 18px;
  line-height: 24px;
  margin-top: 6px;
  padding-left: 6px;
}

.units a {
  color: #202124;
  text-decoration: none;
}

.description-weather {
  text-transform: capitalize;
}
